/* ====================================
   FLOATING WHATSAPP PREMIUM
==================================== */

.floating-wa{

    position:fixed;

    right:25px;
    bottom:25px;

    width:75px;
    height:75px;

    display:flex;
    align-items:center;
    justify-content:center;

    text-decoration:none;

    border-radius:50%;
    border-color: 10px solid #63e643;

    z-index:999999;

    background:
    linear-gradient(
    135deg,
    #35f164,
    #0da119);

    box-shadow:
    0 15px 40px rgba(124,58,237,.35);

    overflow:hidden;

    transition:.4s ease;

    animation:
    waFloat 3s ease-in-out infinite;
}

/* GLOW */

.floating-wa::before{

    content:"";

    position:absolute;

    inset:-8px;

    border-radius:50%;

    border:
    2px solid rgba(255,255,255,.3);

    animation:
    waPulse 2.5s infinite;
}

/* ICON */

.floating-wa img{

    width:36px;
    height:36px;

    object-fit:contain;

    z-index:2;
}

/* HOVER */

.floating-wa:hover{

    transform:
    translateY(-8px)
    scale(1.08);

    box-shadow:
    0 25px 50px rgba(124,58,237,.45);
}

/* TOOLTIP */

.wa-tooltip{

    position:absolute;

    right:90px;

    background:white;

    color:#333;

    padding:12px 18px;

    border-radius:50px;

    font-size:14px;

    font-weight:600;

    white-space:nowrap;

    opacity:0;

    visibility:hidden;

    transform:
    translateX(15px);

    transition:.35s ease;

    box-shadow:
    0 10px 25px rgba(0,0,0,.08);
}

.floating-wa:hover .wa-tooltip{

    opacity:1;

    visibility:visible;

    transform:
    translateX(0);
}

/* FLOAT */

@keyframes waFloat{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-6px);
    }

    100%{
        transform:translateY(0);
    }
}

/* PULSE */

@keyframes waPulse{

    0%{

        transform:scale(1);

        opacity:.8;
    }

    70%{

        transform:scale(1.25);

        opacity:0;
    }

    100%{

        opacity:0;
    }
}

/* MOBILE */

@media(max-width:768px){

    .floating-wa{

        width:65px;
        height:65px;

        right:18px;
        bottom:18px;
    }

    .floating-wa img{

        width:30px;
        height:30px;
    }

    .wa-tooltip{

        display:none;
    }

}